<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mirko Incordatore{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    <style>
        
        #global-messages {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1050;
            min-width: 300px;
            max-width: 90%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Mario Rossi Stringer</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>

            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profilo' %}">Profilo</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout-html' %}">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login-html' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register-html' %}">Registrati</a></li>
            {% endif %}
            
            <li class="nav-item"><a class="nav-link" href="{% url 'servizi' %}">Servizi</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'punti-ritiro' %}">Punti Ritiro</a></li>            
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'prenotazioni-utente' %}">Le tue Prenotazioni</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


{% if messages %}
<div id="global-messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer class="text-center mt-4 mb-4">
    &copy; 2022 - 2025 Mario Rossi Stringer
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
