{% extends 'core/base.html' %}

{% block title %}Benvenuto{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row align-items-center">        
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <img src="../static/images/logo.png" 
                alt="Mario Rossi Stringer Logo" 
                class="img-fluid rounded" 
                style="max-width: 100%;">
        </div>

        
        <div class="col-md-8">
            <h1>Mario Rossi Stringer</h1>
            <h2>Precisione e passione per ogni racchetta</h2>
            <p>                
                Ho trasformato la passione in professione diventando un riferimento per gli amanti del gioco. <br>
                Dal 2022 gestisco un laboratorio a Lucca<br>
                Tratto ogni racchetta con cura, precisione e attenzione ai dettagli.
            </p>            
            <p>Contatti: 
                <ul>
                    <li>Telefono: <a href="tel:+393331234567">+39 333 1234567</a></li>
                    <li>Email: <a href="mailto:mario.rossi.stringer@example.com">mario.rossi.stringer@example.com</a><br></li>
                </ul>
            </p>
            
            <p>Seguimi sui social: 
                <a href="https://www.facebook.com/mariorossistringer" target="_blank">Facebook</a>, 
                <a href="https://www.instagram.com/mariorossistringer" target="_blank">Instagram</a>, 
                <a href="https://www.twitter.com/mariorossistringer" target="_blank">X</a>
            </p>

            <!--
            {% if user.is_authenticated %}
            <a href="{% url 'profilo' %}" class="btn btn-primary">Vai al profilo</a>
            <a href="{% url 'prenotazioni-utente' %}" class="btn btn-success">Le tue Prenotazioni</a>
            {% endif %} -->

            <a href="{% url 'servizi' %}" class="btn btn-secondary">Servizi</a>
            <a href="{% url 'punti-ritiro' %}" class="btn btn-secondary">Punti Ritiro</a> 
            
        </div>
    </div>
</div>
{% endblock %}
