{% extends 'core/base.html' %}

{% block title %}Modifica Profilo{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Modifica il tuo Profilo</h2>
    <button type="submit" class="btn btn-success mt-2">Aggiorna Profilo</button>
    <form method="post" action="{% url 'user-profile' %}" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" value="{{ user.username }}" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}" required>
        </div>
        
        <a href="{% url 'home' %}" class="btn btn-home">Torna alla Home</a>
    </form>
</div>
{% endblock %}
